<% layout('layout/boilerplate.ejs') %>
<h1>Create a new Campground</h1>
<form action="/campground" method="POST">
  <div>
    <label for="title">TItle</label>
    <input
      type="text"
      id="title"
      name="campground[title]"
      placeholder="Enter title"
    />
  </div>
  <div>
    <label for="location">Location</label>
    <input
      type="text"
      id="location"
      name="campground[location]"
      placeholder="Enter Location"
    />
  </div>
  <button>Add Campgorund</button>
</form>
